.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
    background-color: #f4f7fc;
   
}

.titile {
    font-weight: 800;
    font-size: 5rem;
    color: #2a2a2a;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contents {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'biodata image work';
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.image_container {
    padding: 20px;
    border: 3px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    grid-area: image;
    transition: transform 0.3s ease;
    height: max-content;
    width: max-content;
}

.image_container:hover {
    transform: scale(1.05);
}

.image {
    width: 300px;
    border-radius: 12px;
    border: 2px solid black;
}

.bioDAta {
    grid-area: biodata;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lebel {
    font-weight: 700;
    font-size: 24px;
    color: #555;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.info {
    font-size: 18px;
    line-height: 1.8;
    color: #333;
}

.workInfo {
    grid-area: work;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.info_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.number {
    font-size: 48px;
    font-weight: 800;
    color: #007bff;
}

.text {
    font-size: 18px;
    color: #666;
}

/* Media Queries */
@media (max-width: 800px) {
    .titile {
        font-size: 3.5rem;
    }

    .contents {
        width: 95%;
        grid-template-columns: 1fr;
        grid-template-areas:
            'image'
            'biodata'
            'work';
    }

    .image {
        width: 260px;
    }

    .lebel {
        font-size: 18px;
    }

    .info {
        font-size: 16px;
    }

    .workInfo {
        flex-direction: column;
        gap: 20px;
    }

    .number {
        font-size: 36px;
    }

    .text {
        font-size: 16px;
    }
}
