.navbar{
width: 100%;
border-bottom: 1px solid gainsboro;
display: flex;
align-items: center;
justify-content: space-around;
padding: 5px 0;
}

.logo{
    height: 70px;
    width: 170px;
}
.nav_menu_list{
    display: flex;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
}
.nav_menu{
    font-size: 23px;
    line-height: 40px;
    width: 120px;
    font-weight: 500;
    text-align: center;
}
.theme_change_action{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menuIcon{
display: none;
}
.link{
    border-bottom: 2px solid gainsboro;
}
.responsiveNavber{
    display: none;
}
.respnsiveNavber_container{
    display: none;
}

@media (max-width: 800px){
    .navbar{
        width: 100%;
        border-bottom: 1px solid gainsboro;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0;
        }
        
        .logo{
            height: 55px;
            width: 90px;
        }
        .nav_menu_list{
            display: none;
            
        }
        .resonsiveNav_menu_list{

        }
        .nav_menu{
            font-size: 23px;
            line-height: 40px;
            width: 120px;
            font-weight: 500;
            text-align: center;
        }
        .theme_change_action{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .menuIcon{
        display: block;
        }
        .responsiveNavber{
            display: block;
            position: relative;
            background: black;
            width: 100%;

        }
        .respnsiveNavber_container{
            color: white;
            position: absolute;
            z-index: 4000;
            left: 20%;
            background: #00000082;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 7px #E91E63;

        }
}