.footer{
display: flex;
align-items: center;
justify-content: space-evenly;
width: 100%;
border-top: 1px solid gainsboro;
padding: 10px;
}
.socilaIcons{
display: flex;
align-items: center;
gap: 10px;
}
.socilaIcon{
font-size: 30px !important;
}
.footer_message{
font-size: 22px;
font-weight: 500;
}
.loveIcon{
    color: rgb(222, 21, 21);
}
@media (max-width: 800px){
    .footer{
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        border-top: 1px solid gainsboro;
        padding: 10px;
        flex-direction: column;
        }
        .socilaIcons{
        display: flex;
        align-items: center;
        gap: 10px;
        }
        .socilaIcon{
        font-size: 25px !important;
        }
        .footer_message{
        font-size: 18px;
        font-weight: 500;
        }
        .loveIcon{
        color: rgb(222, 21, 21);
        }
}